@-moz-document url-prefix('about:certerror') {
    @media (prefers-color-scheme: light) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGLIGHT !important;
            --in-content-page-background: WINDOWBGLIGHT !important;
            --in-content-link-color: COLORBG !important;
            --in-content-button-text-color: WINDOWFGLIGHT !important;
            --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
            --in-content-button-text-color-hover: WINDOWFGLIGHT !important;
            --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
            --in-content-button-text-color-active: WINDOWFGLIGHT !important;
            --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGDARK !important;
            --in-content-page-background: WINDOWBGDARK !important;
            --in-content-link-color: COLORBG !important;
            --in-content-button-text-color: WINDOWFGDARK !important;
            --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
            --in-content-button-text-color-hover: WINDOWFGDARK !important;
            --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
            --in-content-button-text-color-active: WINDOWFGDARK !important;
            --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
    :host,
    :root {
        --in-content-primary-button-background: COLORBG !important;
        --in-content-primary-button-text-color: COLORFG !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, COLORBG 82%, #FFF) !important;
        --in-content-primary-button-text-color-hover: COLORFG !important;
        --in-content-primary-button-background-active: color-mix(in srgb, COLORBG 64%, #FFF) !important;
        --in-content-primary-button-text-color-active: COLORFG !important;
    }
}
@-moz-document url-prefix('about:neterror') {
    @media (prefers-color-scheme: light) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGLIGHT !important;
            --in-content-page-background: WINDOWBGLIGHT !important;
            --in-content-link-color: COLORBG !important;
            --in-content-button-text-color: WINDOWFGLIGHT !important;
            --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
            --in-content-button-text-color-hover: WINDOWFGLIGHT !important;
            --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
            --in-content-button-text-color-active: WINDOWFGLIGHT !important;
            --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGDARK !important;
            --in-content-page-background: WINDOWBGDARK !important;
            --in-content-link-color: COLORBG !important;
            --in-content-button-text-color: WINDOWFGDARK !important;
            --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
            --in-content-button-text-color-hover: WINDOWFGDARK !important;
            --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
            --in-content-button-text-color-active: WINDOWFGDARK !important;
            --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
    :host,
    :root {
        --in-content-primary-button-background: COLORBG !important;
        --in-content-primary-button-text-color: COLORFG !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, COLORBG 82%, #FFF) !important;
        --in-content-primary-button-text-color-hover: COLORFG !important;
        --in-content-primary-button-background-active: color-mix(in srgb, COLORBG 64%, #FFF) !important;
        --in-content-primary-button-text-color-active: COLORFG !important;
    }
}
@-moz-document url-prefix('about:httpsonlyerror') {
    @media (prefers-color-scheme: light) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGLIGHT !important;
            --in-content-page-background: WINDOWBGLIGHT !important;
            --in-content-link-color: COLORBG !important;
            --in-content-button-text-color: WINDOWFGLIGHT !important;
            --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
            --in-content-button-text-color-hover: WINDOWFGLIGHT !important;
            --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
            --in-content-button-text-color-active: WINDOWFGLIGHT !important;
            --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGDARK !important;
            --in-content-page-background: WINDOWBGDARK !important;
            --in-content-link-color: COLORBG !important;
            --in-content-button-text-color: WINDOWFGDARK !important;
            --in-content-button-background: color-mix(in srgb, currentColor 13%, transparent) !important;
            --in-content-button-text-color-hover: WINDOWFGDARK !important;
            --in-content-button-background-hover: color-mix(in srgb, currentColor 17%, transparent) !important;
            --in-content-button-text-color-active: WINDOWFGDARK !important;
            --in-content-button-background-active: color-mix(in srgb, currentColor 30%, transparent) !important;
        }
    }
    :host,
    :root {
        --in-content-primary-button-background: COLORBG !important;
        --in-content-primary-button-text-color: COLORFG !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, COLORBG 82%, #FFF) !important;
        --in-content-primary-button-text-color-hover: COLORFG !important;
        --in-content-primary-button-background-active: color-mix(in srgb, COLORBG 64%, #FFF) !important;
        --in-content-primary-button-text-color-active: COLORFG !important;
    }
}

@-moz-document url-prefix('about:newtab') {
    @media (prefers-color-scheme: light) {
        body {
            --newtab-background-color: WINDOWBGLIGHT !important;
            --newtab-background-color-secondary: TABBGLIGHT !important;
            --newtab-text-primary-color: WINDOWFGLIGHT !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGLIGHT 17%, var(--newtab-background-color)) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        body {
            --newtab-background-color: WINDOWBGDARK !important;
            --newtab-background-color-secondary: TABBGDARK !important;
            --newtab-text-primary-color: WINDOWFGDARK !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGDARK 17%, var(--newtab-background-color)) !important;
        }
    }
    .personalize-button,
    .context-menu-button,
    .icon-pin-small {
        display: none !important;
    }
    .top-sites-list .top-site-outer:not(:first-child) {
        display: none !important;
    }
}

@-moz-document url-prefix('about:privatebrowsing') {
    :root {
        --in-content-page-background: WINDOWBGPRIVATE !important;
        --in-content-page-color: WINDOWFGPRIVATE !important;
        --in-content-text-color: WINDOWFGPRIVATE !important;
    }
    .search-inner-wrapper {
        display: none !important;
    }
    html,
    body {
        scrollbar-color: WINDOWFGPRIVATE WINDOWBGPRIVATE !important;
    }
}

@media (prefers-color-scheme: light) {
    html,
    body {
        scrollbar-color: WINDOWFGLIGHT WINDOWBGLIGHT;
    }
}
@media (prefers-color-scheme: dark) {
    html,
    body {
        scrollbar-color: WINDOWFGDARK WINDOWBGDARK;
    }
}

@-moz-document url('chrome://browser/content/browser.xhtml') {

    /* LIGHT THEME */
    @media (prefers-color-scheme: light) {
        :not(:-moz-lwtheme) {
            --lwt-accent-color: WINDOWBGLIGHT !important;
            --lwt-text-color: WINDOWFGLIGHT !important;
            --toolbar-bgcolor: TABBGLIGHT !important;
            --toolbar-color: TABFGLIGHT !important;
            --lwt-selected-tab-background-color: TABBGLIGHT !important;
            --lwt-tab-text: TABFGLIGHT !important;
            --chrome-content-separator-color: WINDOWBGLIGHT !important;
            --toolbarbutton-hover-background: TABFG02LIGHT !important;
            --toolbarbutton-active-background: TABFG03LIGHT !important;
        }
    }

    /* DARK THEME */
    @media (prefers-color-scheme: dark) {
        :not(:-moz-lwtheme) {
            --lwt-accent-color: WINDOWBGDARK !important;
            --lwt-text-color: WINDOWFGDARK !important;
            --toolbar-bgcolor: TABBGDARK !important;
            --toolbar-color: TABFGDARK !important;
            --lwt-selected-tab-background-color: TABBGDARK !important;
            --lwt-tab-text: TABFGDARK !important;
            --chrome-content-separator-color: WINDOWBGDARK !important;
            --toolbarbutton-hover-background: TABFG02DARK !important;
            --toolbarbutton-active-background: TABFG03DARK !important;
        }
    }

    /* INCOGNITO */
    [lwt-default-theme-in-dark-mode="true"][privatebrowsingmode="temporary"] {
        --lwt-accent-color: WINDOWBGPRIVATE !important;
        --lwt-text-color: WINDOWFGPRIVATE !important;
        --toolbar-bgcolor: TABBGPRIVATE !important;
        --toolbar-color: TABFGPRIVATE !important;
        --lwt-selected-tab-background-color: TABBGPRIVATE !important;
        --lwt-tab-text: TABFGPRIVATE !important;
        --chrome-content-separator-color: WINDOWBGPRIVATE !important;
        --toolbarbutton-hover-background: TABFG02PRIVATE !important;
        --toolbarbutton-active-background: TABFG03PRIVATE !important;
    }

    #TabsToolbar #firefox-view-button[open]:not(:-moz-lwtheme) > .toolbarbutton-icon,
    #tabbrowser-tabs:not([noshadowfortests]):not(:-moz-lwtheme) .tab-background:is([selected], [multiselected]) {
        box-shadow: 0 0 4px rgba(0,0,0,.26) !important;
    }

    @media (prefers-color-scheme: light) {
        browser { background-color: WINDOWBGLIGHT !important; }
        #customization-content-container {
            background: WINDOWBGLIGHT !important;
            color: WINDOWFGLIGHT !important;
        }
        #customization-footer {
            background: WINDOWBGLIGHT !important;
            border: none !important;
        }
        .customizationmode-button {
            background-color: color-mix(in srgb, currentColor 13%, transparent) !important;
            color: WINDOWFGLIGHT !important;
        }
        .customizationmode-button:hover {
            background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
            color: WINDOWFGLIGHT !important;
        }
        .customizationmode-button:active {
            background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
            color: WINDOWFGLIGHT !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        browser { background-color: WINDOWBGDARK !important; }
        #customization-content-container {
            background: WINDOWBGDARK !important;
            color: WINDOWFGDARK !important;
        }
        #customization-footer {
            background: WINDOWBGDARK !important;
            border: none !important;
        }
        .customizationmode-button {
            background-color: color-mix(in srgb, currentColor 13%, transparent) !important;
            color: WINDOWFGDARK !important;
        }
        .customizationmode-button:hover {
            background-color: color-mix(in srgb, currentColor 17%, transparent) !important;
            color: WINDOWFGDARK !important;
        }
        .customizationmode-button:active {
            background-color: color-mix(in srgb, currentColor 30%, transparent) !important;
            color: WINDOWFGDARK !important;
        }
    }
}
