@import url("ferenChrome.css");
@import url("ice.css");

@-moz-document url('chrome://browser/content/browser.xhtml') {

    :root {
        --toolbar-btn-width: calc((var(--toolbar-start-end-padding) * 2) +
            (16px * 4) +
            (var(--toolbarbutton-outer-padding) * 2 * 4) +
            (var(--toolbarbutton-inner-padding) * 2 * 4));
    }

    window,
    #main-window,
    #TabsToolbar,
    #sidebar-box,
    #nav-bar {

        -moz-appearance: none !important;

        border: none !important;
        box-shadow: none !important;
        background: none !important;

    }

    #forward-button,
    #nav-bar-overflow-button,
    #urlbar[breakout],
    #toolbar-menubar,
    #PersonalToolbar,
    #customization-palette-container,
    #customization-panel-container,
    #customization-titlebar-visibility-checkbox,
    #customization-toolbar-visibility-button,
    #customization-reset-button,
    #customization-uidensity-menuitem-touch,
    #customization-lwtheme-link,
    #wrapper-back-button,
    #wrapper-stop-reload-button,
    #wrapper-new-tab-button,
    #wrapper-alltabs-button,
    #wrapper-downloads-button,
    #context-forward,
    #context-bookmarkpage,
    #context_bookmarkSelectedTabs,
    #context_bookmarkTab,
    #context-bookmarklink,
    #toolbar-context-bookmarkSelectedTab,
    #toolbar-context-bookmarkSelectedTabs,
    #toggle_PersonalToolbar,
    #toggle_toolbar-menubar,
    #viewToolbarsMenuSeparator,
    #toolbarItemsMenuSeparator,
    .customize-context-moveToPanel,
    .customize-context-removeFromToolbar {
        display: none !important;
    }
    #urlbar-container {
        max-width: 0px !important;
        min-width: 0px !important;
    }
    #customization-uidensity-menuitem-compact {
        list-style-image: url("chrome://browser/skin/customizableui/density-normal.svg") !important;
    }
    #customization-uidensity-menuitem-normal {
        list-style-image: url("chrome://browser/skin/customizableui/density-touch.svg") !important;
    }
    #customization-content-container::before {
        margin: auto;
        content: "🌅";
        font-size: 800%;
    }
    #nav-bar-customization-target {
        max-width: calc((16px * 2) +
            (var(--toolbarbutton-outer-padding) * 2 * 2) +
            (var(--toolbarbutton-inner-padding) * 2 * 2) +
            var(--toolbarbutton-outer-padding) + var(--toolbarbutton-inner-padding)) !important;
            /* NOTE: Extra padding to make the menu button properly positioned */
        min-width: calc((16px * 2) +
            (var(--toolbarbutton-outer-padding) * 2 * 2) +
            (var(--toolbarbutton-inner-padding) * 2 * 2) +
            var(--toolbarbutton-inner-padding)) !important;
    }

    .titlebar-spacer { display: none !important; }
    .titlebar-buttonbox-container { display: -moz-inline-box !important; }

    /* move tabs bar over */
    #TabsToolbar {
        margin-left: var(--toolbar-btn-width) !important;
    }

    /* move entire nav bar  */
    #nav-bar {
        margin: calc((var(--urlbar-min-height) * -1) - 8px) calc(100vw - var(--toolbar-btn-width) + var(--toolbar-start-end-padding)) 0 0 !important;
    }
    toolbarbutton {
        fill: var(--lwt-text-color) !important; /* use titlebar text colour */
    }

    /* Hide menu items */
    #appMenu-new-private-window-button2,
    #appMenu-bookmarks-button,
    #appMenu-downloads-button,
    #appMenu-passwords-button,
    #appMenu-more-button2,
    #appmenu-customizetoolbar,
    #appmenu-moreTools-button,
    #appMenu_feedbackPage,
    #appMenu_helpSafeMode,
    #appMenu_troubleShooting,
    #downloadsFooterButtons {
        display: none !important;
    }

    @supports -moz-bool-pref("privacy.clearOnShutdown.history") {
        #appMenu-history-button {
            display: none !important;
        }
        #back-button,
        #reload-button,
        #stop-button,
        #context-back,
        #context-reload,
        #context-stop,
        #context-sep-navigation {
            display: none !important;
        }
        :root {
            --toolbar-btn-width: calc((var(--toolbar-start-end-padding) * 2) +
                (16px * 2) +
                (var(--toolbarbutton-outer-padding) * 2 * 2) +
                (var(--toolbarbutton-inner-padding) * 2 * 2));
        }
        #nav-bar-customization-target {
            max-width: var(--toolbarbutton-inner-padding) !important;
            min-width: var(--toolbarbutton-inner-padding) !important;
        }
    }

    :root:not([privatebrowsingmode=temporary]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs,
    :root[privatebrowsingmode=temporary] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
        border-inline-start: none !important;
        padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
        margin-inline-start: 0 !important;
    }

    /* Hide sidebar */
    #sidebar-box,
    #sidebar-splitter {
        display: none !important;
    }

    :root {
        --button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent) !important;
        --button-bgcolor: color-mix(in srgb, currentColor 13%, transparent) !important;
        --button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent) !important;
    }
}
