@import url("ferenChrome.css");
@import url("ice.css");

@-moz-document url-prefix('about:preferences') {
    #category-more-from-mozilla,
    #policies-container,
    #startupGroup,
    #startupPageBox,
    #alwaysCheckDefault,
    #setDefaultPane,
    #webAppearanceGroup,
    #colorsGroup,
    #languageAndAppearanceCategory,
    #fontsGroup,
    #downloadsGroup #saveWhere #chooseFolder,
    #warnCloseMultiple,
    #warnOnQuitKey,
    #updatesCategory,
    #updateApp,
    #performanceCategory,
    #performanceGroup,
    #cfrRecommendations,
    #cfrLearnMore,
    #cfrRecommendations-features,
    #cfrFeaturesLearnMore,
    #category-home,
    #newTabsOption,
    #homeContentsGroup,
    #searchbarGroup,
    #searchSuggestionsGroup,
    #oneClickSearchProvidersGroup,
    #locationBarGroup,
    #browserPrivacyCategory,
    #trackingGroup,
    #historyGroup,
    #notificationSettingsRow,
    #autoplaySettingsRow,
    #xrSettingsRow,
    #permissions-block-popups,
    #popupPolicy,
    #popupPolicyButton,
    #httpsOnlyBox {
        display: none !important;
    }
}

@-moz-document url-prefix('about:addons') {
    recommended-extensions-section,
    recommended-themes-section,
    discovery-pane,
    .colorways-section {
        display: none !important;
    }
    #categories button:first-child {
        display: none !important;
    }
}
