@-moz-document url-prefix('about:certerror') {
    @media (prefers-color-scheme: light) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGLIGHT !important;
            --in-content-page-background: WINDOWBGLIGHT !important;
            --in-content-link-color: COLORBG !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGDARK !important;
            --in-content-page-background: WINDOWBGDARK !important;
            --in-content-link-color: COLORBG !important;
        }
    }
    :host,
    :root {
        --in-content-primary-button-background: COLORBG !important;
        --in-content-primary-button-text-color: COLORFG !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, COLORBG 82%, #FFF) !important;
        --in-content-primary-button-text-color-hover: COLORFG !important;
        --in-content-primary-button-background-active: color-mix(in srgb, COLORBG 64%, #FFF) !important;
        --in-content-primary-button-text-color-active: COLORFG !important;
    }
}
@-moz-document url-prefix('about:neterror') {
    @media (prefers-color-scheme: light) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGLIGHT !important;
            --in-content-page-background: WINDOWBGLIGHT !important;
            --in-content-link-color: COLORBG !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        :host,
        :root {
            --in-content-page-color: WINDOWFGDARK !important;
            --in-content-page-background: WINDOWBGDARK !important;
            --in-content-link-color: COLORBG !important;
        }
    }
    :host,
    :root {
        --in-content-primary-button-background: COLORBG !important;
        --in-content-primary-button-text-color: COLORFG !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, COLORBG 82%, #FFF) !important;
        --in-content-primary-button-text-color-hover: COLORFG !important;
        --in-content-primary-button-background-active: color-mix(in srgb, COLORBG 64%, #FFF) !important;
        --in-content-primary-button-text-color-active: COLORFG !important;
    }
}

@-moz-document url-prefix('about:preferences') {
    #category-more-from-mozilla,
    #policies-container,
    #startupGroup,
    #startupPageBox,
    #alwaysCheckDefault,
    #setDefaultPane,
    #webAppearanceGroup,
    #colorsGroup,
    #languageAndAppearanceCategory,
    #fontsGroup,
    #downloadsGroup #saveWhere #chooseFolder,
    #warnCloseMultiple,
    #warnOnQuitKey,
    #updatesCategory,
    #updateApp,
    #performanceCategory,
    #performanceGroup,
    #cfrRecommendations,
    #cfrLearnMore,
    #cfrRecommendations-features,
    #cfrFeaturesLearnMore,
    #category-home,
    #newTabsOption,
    #homeContentsGroup,
    #searchbarGroup,
    #searchSuggestionsGroup,
    #oneClickSearchProvidersGroup,
    #locationBarGroup,
    #browserPrivacyCategory,
    #trackingGroup,
    #historyGroup,
    #notificationSettingsRow,
    #autoplaySettingsRow,
    #xrSettingsRow,
    #permissions-block-popups,
    #popupPolicy,
    #popupPolicyButton,
    #httpsOnlyBox {
        display: none !important;
    }
}

@-moz-document url-prefix('about:addons') {
    recommended-extensions-section,
    recommended-themes-section,
    discovery-pane,
    .colorways-section {
        display: none !important;
    }
    #categories button:first-child {
        display: none !important;
    }
}

@-moz-document url-prefix('about:newtab') {
    @media (prefers-color-scheme: light) {
        body {
            --newtab-background-color: WINDOWBGLIGHT !important;
            --newtab-background-color-secondary: TABBGLIGHT !important;
            --newtab-text-primary-color: WINDOWFGLIGHT !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGLIGHT 17%, var(--newtab-background-color)) !important;
        }
    }
    @media (prefers-color-scheme: dark) {
        body {
            --newtab-background-color: WINDOWBGDARK !important;
            --newtab-background-color-secondary: TABBGDARK !important;
            --newtab-text-primary-color: WINDOWFGDARK !important;
            --newtab-element-hover-color: color-mix(in srgb, WINDOWFGDARK 17%, var(--newtab-background-color)) !important;
        }
    }
    .personalize-button,
    .context-menu-button,
    .icon-pin-small {
        display: none !important;
    }
    .top-sites-list .top-site-outer:not(:first-child) {
        display: none !important;
    }
}

@-moz-document url-prefix('about:privatebrowsing') {
    :root {
        --in-content-page-background: WINDOWBGPRIVATE !important;
        --in-content-page-color: WINDOWFGPRIVATE !important;
        --in-content-text-color: WINDOWFGPRIVATE !important;
    }
    .search-inner-wrapper {
        display: none !important;
    }
}
